
<form>
    <div style="margin-left: 20px;float:left">
        <input type="checkbox" id="onlynaughty" name="onlynaughty" value="onlynaughty" {{ persistNaughty }}><label for="onlynaughty"> Show only Naughty sites</label><br>
        <input type="checkbox" id="latest" name="latest" value="latest" {{ persistLatest }}><label for="latest"> Only two latest</label><br>

        <label for="example"><b>Tolerance (>=0)</b></label>
        <input id="tolerance" type="text" name="tolerance" value="{{ tolerance }}" size="8">
        <input type="submit" value="Send">
    </div>
</form>


{% if(date1 is null and date2 is null) %}
    <form>
        <div style="margin-left: 20px;float:left">
            <label for="crawl"><b>Compare only two crawls:</b></label>
            <br>
            <form action="#">
                <select id="date1" name="date1">
                    {% for header in headers %}
                        <option value="{{ header|date('F d, Y H:i:s') }}">{{ header|date('F d, Y H:i:s') }}</option>
                    {%  endfor %}
                </select>

                <select id="date2" name="date2">
                    {% for header in headers %}
                        <option value="{{ header|date('F d, Y H:i:s') }}">{{ header|date('F d, Y H:i:s') }}</option>
                    {%  endfor %}
                </select>
                <input type="submit"> <input type="reset">
            </form>
        </div>
    </form>

{% endif %}

<div style="clear: both"></div>
<div style="margin-left: 20px;">
{% if(date1 and date2) %} | <a href="?latest=false">Reset dates filter</a>{% endif %}
</div>